@import "../../styles/variables.css";
.button {
  height: 40px;
  width: 200px;
  margin: 4px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 16px;
}

.button--accent-outline {
  border: 2px solid var(--accent);
}

.button--error-outline {
  border: 2px solid var(--compare);
}

.button--accent-filled {
  border: 2px solid var(--accent);
  background-color: var(--accent);
}
