@import "../../styles/variables.css";

.menu {
  background-color: var(--secondary);
  padding: 10px;
  text-transform: uppercase;
  overflow-y: auto;
}

.menu .flex--col {
  justify-content: center;
  align-items: center;
}

.menu .menu__inputs {
  width: 100%;
  margin: 5px 0;
}

.menu .menu__inputs p {
  font-size: 16px;
  margin: 5px 0;
}

.menu .menu__inputs ul {
  margin: 0;
  overflow-x: auto;
}

.menu .menu__inputs ul .button {
  min-width: 80px;
  width: max-content;
  padding: 0 12px;
}

@media only screen and (min-width: 1024px) {
  .menu {
    margin: auto 0;
    width: 368px;
    height: min-content;
  }
}
