@import "../../styles/variables.css";

.grid {
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 10px;
}

.grid__tile {
  width: 20px;
  height: 20px;
  margin: 1px;
  background-color: var(--primary);
}

.grid__tile--round {
  border-radius: 50%;
}
