@import "../../styles/variables.css";

.grid {
  border: 4px solid var(--secondary);
  background-color: var(--idle);
  width: 310px;
  height: 348px;
  margin: auto;
}

.grid__row {
  justify-content: center;
}

.grid__cell {
  width: 20px;
  height: 20px;
}

.grid__cell--path {
  background-color: var(--primary);
}

.grid__cell--wall {
  background-color: var(--secondary);
}

.grid__cell--start {
  background-color: var(--compare);
}

.grid__cell--current {
  background-color: var(--accent);
}

.grid__cell--animate-grow {
  animation: 0.5s linear grow;
}

@keyframes grow {
  from {
    border-radius: 50%;
    transform: scale(0.25);
  }
  to {
    border-radius: 0px;
    tranform: scale(1);
  }
}

@media only screen and (min-width: 375px) {
  .grid {
    width: 365px;
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    width: 568px;
    height: 508px;
  }
}

@media only screen and (min-width: 1024px) {
  .grid__container {
    margin: auto 0;
  }
}
