@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

@import "./styles/variables.css";

* {
  font-family: "Reem Kufi", sans-serif;
  color: var(--text);
  box-sizing: border-box;
  font-weight: bold;
}

#app {
  height: 100vh;
  padding: 5px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

footer {
  color: var(--secondary);
  text-align: center;
  padding: 5px;
}

footer a {
  color: var(--secondary);
}
