@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

@import "./styles/variables.css";

* {
  font-family: "Reem Kufi", sans-serif;
  color: var(--text);
  box-sizing: border-box;
  font-weight: bold;
}

html {
  background-color: var(--primary);
}

#app {
  height: 100vh;
  max-width: 1220px;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

footer {
  color: var(--secondary);
  text-align: center;
  padding: 5px;
}

footer a {
  color: var(--secondary);
}

@media only screen and (min-width: 768px) {
  #app {
    padding: 5px 100px;
  }
}

@media only screen and (min-width: 1024px) {
  #app {
    padding: 5px;
    flex-direction: row-reverse;
  }
}
